<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>


<body>
<span layout:fragment="content">


<div class="position-relative overflow-hidden p-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Kino</h1>
        <p class="lead font-weight-normal">Seznam recenzí</p>
    </div>
</div>
	<!-- TODO: odkazy na filmy -->
<div class="list-group text-center mx-auto">
    <div>
        <a sec:authorize="hasRole('ADMIN')" class="p-5 border text-decoration-none" th:href="@{/review/upsert}">
            Vložit recenzi
        </a>
    </div>

    <table class="table mt-5 w-50 mx-auto">
    <thead class="thead-dark">
        <tr>
            <th>Review</th>
            <th sec:authorize="hasRole('ADMIN')">Upsert</th>
			<th sec:authorize="hasRole('ADMIN')">Delete</th>
        </tr>
    </thead>
    <tbody>


    <tr th:if="${reviewList.empty}">
            <td colspan="4"> No Reviews available </td>
        </tr>
        <tr th:each="review : ${reviewList}">
            <td><a th:href="@{/review/view(id=${review.id})}" th:text="${review.header}"></a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/review/upsert(id=${review.id})}">upsert</a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/review/delete(id=${review.id})}">delete</a></td>
        </tr>
    </tbody>
</table>
</div>

</span>

</body>
</html>
