<!DOCTYPE html>

<html lang="en" layout:decorate="~{template}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="https://www.thymeleaf.org">
<head>

</head>


<body>

<span layout:fragment="content">
<div class="position-relative  text-center bg-light">
     <div class="col-md-5 mx-auto my-5">



        <h1 class="display-4 font-weight-normal" th:text="${review.header}"> </h1>
        <div>
            <div>

                Review score: <div class="lead font-weight-normal mh-50 p-3" th:text="${review.reviewScore}"></div>
                Review text: <div class="lead font-weight-normal mh-50 p-3" th:text="${review.reviewText}"></div>
                Author: <div class="lead font-weight-normal mh-50 p-3" th:text="${review.author.getUsername()}"></div>

				<!-- TODO DESCRIPTION -->


            </div>
		</div>
	</div>
</div>

</span>


</body>
</html>
