<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<span layout:fragment="content">
<div class="position-relative overflow-hidden p-3 text-center bg-light">
     <div class="col-md-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Kino</h1>
        <p class="lead font-weight-normal">Seznam rezervací</p>
    </div>
</div>
	<!-- TODO: odkazy na filmy -->
<div class="list-group text-center mx-auto">
    <!--<div sec:authorize="hasRole('ADMIN')">
        <a class="p-5 border text-decoration-none" th:href="@{/reservation/upsert}">Vložit novou rezervaci</a>
    </div>-->
    <p>Vlozte novou rezervaci pomoci kliknuti na projekcni cas filmu</p>
    <table class="table mt-5 w-25 mx-auto">
    <thead class="thead-dark">
        <tr>
            <th> Movie</th>
            <th> Time</th>
            <th sec:authorize="hasRole('ADMIN')"> Upsert </th>
            <th sec:authorize="hasRole('ADMIN')"> Delete  </th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${reservationList.empty}">
            <td colspan="4"> No reservations available </td>
        </tr>
        <tr th:each="reservation : ${reservationList}">
            <td>
                <a th:href="@{/movie/view(id=${reservation.projectionTime.movie.id})}"
                   th:text="${reservation.getProjectionTime().movie.name}"> </a>
            </td>
            <td>
                <a th:href="@{/reservation/view(id=${reservation.id})}" th:text="${reservation.getProjectionTime().projectionDateTime}"> </a>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/reservation/upsert(id=${reservation.id})}">upsert </a></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/reservation/delete(id=${reservation.id})}">delete
            </a></td>
        </tr>
    </tbody>
    </table>
</div>

</span>
</body>
</html>
