<!DOCTYPE html>

<html lang="en" layout:decorate="~{template}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="https://www.thymeleaf.org">
<head>
</head>

<body>
<span layout:fragment="content">
<div class="position-relative  text-center bg-light">
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" th:text="${reservation.id}"> </h1>
		<div>
			Seat row: <div class="lead font-weight-normal mh-50" th:text="${seat.seats}"></div>
			Seat column: <div class="lead font-weight-normal mh-50" th:text="${reservation.movie}"></div>
		</div>
	</div>
</div>
</span>
</body>
</html>
