<!DOCTYPE html>

<html lang="en" layout:decorate="~{template}"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			xmlns:th="https://www.thymeleaf.org">
<head>
</head>

<body class="text-center">
<span class="container" layout:fragment="content">
<div class="position-relative  text-center bg-light">
    <div class="col-md-10 p-lg-5 mx-auto my-5">

		<div><img th:src="@{/images/seating_plan.png}"/></div>
		<span>Movie:</span>
		<span th:if="${reservation.projectionTime != null}">
			<span th:if="${reservation.projectionTime.movie != null}"
						th:text="${reservation.projectionTime.movie.name}"></span>
			<span>Time:</span>
			<span th:text="${reservation.projectionTime.projectionDateTime}"></span>
		</span>
		<span class="error" th:unless="${reservation.projectionTime != null}">Some shit happend</span>
		<form class="form-signin" method="post" th:action="@{/reservation/upsert}" th:object="${reservationForm}">
			<div class="error" th:errors="${reservationForm}"></div>

			<input hidden th:field="*{projectionId}"/>

			<table class="table table-bordered" id="table">
				<tr th:each="seatList, seatListStat : ${seatListList}">
					<td class="p-0" th:each="seat, seatStat : ${seatList}" th:with="contains = ${unavailableSeats.contains(seat)}">
						<div th:with="i = ${seatStat.index + seatListStat.index * seatList.size()}">
							<div th:text="${seat.name + ' / ' + i}"></div>
							<!--Pokud uz je zaklikly - zobrazim neformularovy checkbox-->
							<input type="checkbox" th:if="${contains}" disabled th:checked="${contains}" />
							<!--Jinak zobrazim formularovy-->
							<input hidden th:if="${!contains}" th:name="|seatHelperList[${i}].id|" th:value="${seat.id}"/>
							<input hidden th:if="${!contains}" th:name="|seatHelperList[${i}].boxId|" th:value="${i}"/>
							<input hidden th:if="${!contains}" th:name="|seatHelperList[${i}].name|" th:value="${seat.name}"/>
							<input th:if="${!contains}" th:checked="${contains}" th:name="|seatHelperList[${i}].enabled|" type="checkbox"/>
						</div>
					</td>
				</tr>
			</table>

			<input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Add a reservation"/>
		</form>
	</div>
</div>
</span>
</body>
</html>