<!DOCTYPE html>

<html lang="en" layout:decorate="~{template}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
<span layout:fragment="content">
<div class="position-relative overflow-hidden p-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Kino</h1>
        <p class="lead font-weight-normal">Program</p>
    </div>
</div>
	<!-- TODO: odkazy na filmy -->
<div class="position-relative  text-center bg-light">
    <div class="col-md-8 p-lg-5 mx-auto my-5">
        <div>
            <div>

                Time: <div class="lead font-weight-normal mh-50 p-3"
						   th:text="${reservation.getProjectionTime().projectionDateTime}"></div>
                Movie: <div class="lead font-weight-normal mh-50 p-3"
							th:text="${reservation.projectionTime.movie.name}"></div>
                Reserved seats: <div class="lead font-weight-normal mh-50 p-3"
									 th:each="seat : ${reservation.getSeats()}"
									 th:text="${seat.getCoords().row + seat.getCoords().column}"></div>

				<!-- TODO DESCRIPTION -->


            </div>
		</div>
	</div>
</div>
</span>
</body>
</html>
