<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
</head>

<body class="text-center">
<span class="container" layout:fragment="content">

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
    <div class="mt-5">
<h1 class="h3 mb-3 font-weight-normal">Registration</h1>
    <div class="signin">


<form class="form-signin" th:object="${simpleUser}" method="post" th:action="@{/registration}">
    <div class="error" th:errors="${simpleUser}">...</div>

<!--    <div th:text="${#fields.hasAnyErrors()}"></div>-->
    <label class="sr-only" for="inputUsername">Username</label>
    <input autofocus class="form-control" id="inputUsername" name="username" placeholder="Username" required
           type="text"/>
    <!--<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>-->
    <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

    <label class="sr-only" for="inputEmail">Email</label>
    <input class="form-control" id="inputEmail" th:field="*{emailAddress}" name="emailAddress" placeholder="Email"
           required type="email"/>
    <span class="error" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
    <!-- <td th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Name Error</td>-->

     <label class="sr-only" for="inputPassword">Password</label>
     <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password"/>
     <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <!--<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>-->

    <label class="sr-only" for="inputMatchingPassword">Password again</label>
    <input class="form-control" id="inputMatchingPassword" name="matchingPassword" placeholder="Password again"
           required type="password"/>

    <input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Sign up"/>
</form>
        </div>
    </div>
</span>
</body>
</html>