<!DOCTYPE html>

<html lang="en" layout:decorate="~{template}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>
<span layout:fragment="content">
		<div class="position-relative overflow-hidden p-3 text-center bg-light">
			<div class="col-md-5 mx-auto my-5">
				<h1 class="display-4 font-weight-normal">Kino</h1>
				<p class="lead font-weight-normal">Seznam filmů</p>
			</div>
		</div>
	<!-- TODO: odkazy na filmy -->
		<div class="list-group text-center mx-auto">
			<td sec:authorize="hasRole('ADMIN')">
				<a class="p-5 border text-decoration-none" th:href="@{/movie/upsert}">Vložit nový film</a>
			</td>

			<table class="table mt-5 w-25 mx-auto">
				<thead class="thead-dark">
				<tr>
					<th>Movie</th>
					<th sec:authorize="hasRole('ADMIN')">Update</th>
					<th sec:authorize="hasRole('ADMIN')">Delete</th>
				</tr>
				</thead>
				<tbody>
				<tr th:if="${movieList.empty}">
					<td colspan="4"> No Movies available</td>
				</tr>
				<tr th:each="movie : ${movieList}">
                    <td><a th:href="@{/movie/view(id=${movie.id})}" th:text="${movie.name}"></a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/movie/upsert(id=${movie.id})}">Update</a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/movie/delete(id=${movie.id})}">Delete</a></td>
                </tr>
				</tbody>
			</table>
		</div>

</span>
</body>
</html>
