<!DOCTYPE html>

<html lang="en" layout:decorate="~{template}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="https://www.thymeleaf.org">
<head>

</head>


<body>

<span layout:fragment="content">
<div class="position-relative  text-center bg-light">
    <div class="col-md-5 mx-auto my-5">



        <h1 class="display-4 font-weight-normal" th:text="${movie.name}">   <!-- TODO: nazev filmu  --> nazev</h1>
        <div class="row">
            <div class="col-md-6">

                Description: <div class="lead font-weight-normal mh-50" th:text="${movie.description}"></div>
                Duration time: <div class="lead font-weight-normal mh-50" th:text="${movie.durationTimeSec / 60}"></div>
                Release date: <div class="lead font-weight-normal mh-50" th:text="${movie.releaseDate}"></div>
                <tr th:each="projection : ${movie.projectionTimes}">
                 Projection Time: <td><a th:href="@{/reservation/create(projection_id=${projection.id})}" th:text="${projection.projectionDateTime}">Title ...</a></td>
                </tr>
				<!-- TODO DESCRIPTION -->


            </div>
            <div class="mx-auto col-md-6" style="width: 80%;">
                <div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!-- TODO: obrazky a alt -->
                            <img alt="..." th:src="@{/images/jumanji.jpg}" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img alt="..." th:src="@{/images/frozen.jpg}" width="100%">
                        </div>
                        <div class="carousel-item">
                            <img alt="..." th:src="@{/images/star-wars.jpg}" width="100%">
                        </div>
                    </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
	<!-- TODO: dynamicky generovany seznam s dostupnymi casy  -->
<div class="col-md-12 text-center">
    <div aria-label="Button group with nested dropdown" class="btn-group text-center mx-auto" role="group">
        <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" id="btnGroupDrop" type="button">
                Pondělí
            </button>
            <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:50</a>
                .
                .
                .
            </div>
        </div>
        <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" id="btnGroupDrop1" type="button">
                Úterý
            </button>
            <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:50</a>
                .
                .
                .
            </div>
        </div>
        <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" id="btnGroupDrop2" type="button">
                Středa
            </button>
            <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:50</a>
                .
                .
                .
            </div>
        </div>
        <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" id="btnGroupDrop3" type="button">
                Čtvrtek
            </button>
            <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:50</a>
                .
                .
                .
            </div>
        </div>
        <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" id="btnGroupDrop4" type="button">
                Pátek
            </button>
            <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:50</a>
                .
                .
                .
            </div>
        </div>
        <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" id="btnGroupDrop5" type="button">
                Sobota
            </button>
            <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:50</a>
                .
                .
                .
            </div>
        </div>
        <div class="btn-group" role="group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" id="btnGroupDrop6" type="button">
                Neděle
            </button>
            <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                <a class="dropdown-item" href="#">13:30</a>
                <a class="dropdown-item" href="#">16:50</a>
                .
                .
                .
            </div>
        </div>
    </div>
</div>
</span>


</body>
</html>
