* {
    --dark-color: #030303dd;
    --clear-color: #00000000;
}

html, body {
    margin: 0;
    height: 100%;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.cover-container {
    position: relative;
    width: max(50%, 42em);
}

.cover-container main {
    /*backdrop-filter: blur(1px);*/
    box-shadow: 0 0 30px 40px var(--dark-color);
    border-radius: 25px;
    background-color: var(--dark-color);
}

.cover-container main:hover {
    /*backdrop-filter: blur(1px);*/
    box-shadow: 0 0 30px 40px var(--clear-color);
    border-radius: 0;
    background-color: var(--clear-color);
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}