<!DOCTYPE html>

<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>


<body>
<span layout:fragment="content" >


<div class="position-relative overflow-hidden p-3 text-center bg-light">
    <div class="col-md-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Kino</h1>
        <p class="lead font-weight-normal">Program</p>
    </div>
</div>
    <!-- TODO: odkazy na filmy -->
<div class="list-group text-center mx-auto" >
    <div sec:authorize="hasRole('ADMIN')" >
        <a class="p-5 border text-decoration-none" th:href="@{/projection/upsert}">Vložit nový čas promítání</a>
    </div>

    <table class="table-bordered mt-5 w-25 mx-auto table" >
    <thead class="thead-dark">
        <tr>
            <th scope="col"> Movie </th>
            <th scope="col"> Time </th>
            <th scope="col"> Hall </th>
            <th scope="col" sec:authorize="hasRole('ADMIN')"> Upsert </th>
            <th scope="col" sec:authorize="hasRole('ADMIN')"> Delete </th>
        </tr>
    </thead>
    <tbody>


    <tr th:if="${projectionList.empty}">
            <td colspan="5"> No projection times available </td>
        </tr>
        <tr th:each="projection : ${projectionList}">
            <td>
                <a th:href="@{/movie/view(id=${projection.movie.id})}" th:text="${projection.movie.name}">Film</a>
            </td>
            <td>
                <a th:href="@{/reservation/create(projection_id=${projection.id})}" th:text="${projection.projectionDateTime}"></a>
            </td>
            <td><span th:text="${projection.hall.name}"></span></td>

            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/projection/upsert(id=${projection.id})}">upsert</a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/projection/delete(id=${projection.id})}">delete</a></td>
        </tr>
    </tbody>
</table>
</div>
</span>
</body>
</html>
