<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
</head>

<body class="text-center">
<span class="container" layout:fragment="content">

<div th:if="${param.error}">
    Movie could not be added
</div>
    <div class="mt-5">
<h1 class="h3 mb-3 font-weight-normal">Add projection time</h1>
    <div class="signin">


<form class="form-signin" th:object="${projection}" method="post" th:action="@{/projection/upsert}">
    <div class="error" th:errors="${projection}"></div>

    <input class="form-control" th:field="*{id}" type="hidden"/>

    <label class="sr-only" for="inputMovie">Movie</label>
  <select th:field="*{movie.id}" class="form-control" required>
       <option selected value="">Movie</option>
    <option th:each="movie : ${movies}" th:value="${movie.id}" th:text="${movie.name}" id="inputMovie">
    </option>
</select>
    <span class="error" th:if="${#fields.hasErrors('movie')}" th:errors="*{movie}"></span>



    <label class="sr-only" for="inputHall">Hall</label>
  <select th:field="*{hall.id}" class="form-control" required>
       <option selected value="">Hall</option>
    <option th:each="hall : ${halls}" th:value="${hall.id}" th:text="${hall.name}" id="inputHall">
    </option>
</select>
    <span class="error" th:if="${#fields.hasErrors('movie')}" th:errors="*{hall}"></span>

    <!--     <label class="sr-only" for="inputHall">Hall</label>-->
    <!--    <select th:field="*{hall}" class="form-control" required>-->
    <!--       <option selected value="" >Hall</option>-->
    <!--    <option th:each="hall : ${halls}" th:value="${i}" th:text="${hall.name}" id="inputHall" >-->
    <!--    </option>
    </select>
    <span class="error" th:if="${#fields.hasErrors('hall')}" th:errors="*{hall}"></span>
-->
     <label class="sr-only" for="projectionDateTime">Projection Time</label>
    <input class="form-control" id="projectionDateTime" th:field="*{projectionDateTime}" name="projectionDateTime"
           type="datetime-local"
           placeholder="Projection Time"
           required/>
    <span class="error" th:if="${#fields.hasErrors('projectionDateTime')}" th:errors="*{projectionDateTime}"></span>



    <input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Add a projection time"/>
</form>
        </div>
    </div>
</span>
</body>
</html>