<!DOCTYPE html>
<html lang="en" layout:decorate="~{template}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
  <head>
    <!--Inspired by-->
    <link href="https://getbootstrap.com/docs/5.0/examples/cover/" rel="canonical">
    <!-- Bootstrap core CSS -->
    <!--TODO replace by local resource-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
    <!--ThreeJS-->
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
      {
          "imports": {
              "three": "https://unpkg.com/three@0.150.0/build/three.module.js",
              "three/addons/": "https://unpkg.com/three@0.150.0/examples/jsm/"
          }
      }
    </script>

  </head>
  <body class="d-flex h-100 text-center text-white bg-dark" layout:fragment="body">
    <canvas data-engine="three.js r146 w-100 h-100" id="canvas"></canvas>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div th:replace="~{navbar :: navbar}">Navigation</div>
        <!--        <div>-->
        <!--          <h3 class="float-md-start mb-0">Cover</h3>-->
        <!--          <nav class="nav nav-masthead justify-content-center float-md-end">-->
        <!--            <a aria-current="page" class="nav-link active"-->
        <!--               href="https://getbootstrap.com/docs/5.0/examples/cover/#">Home</a>-->
        <!--            <a class="nav-link" href="https://getbootstrap.com/docs/5.0/examples/cover/#">Features</a>-->
        <!--            <a class="nav-link" href="https://getbootstrap.com/docs/5.0/examples/cover/#">Contact</a>-->
        <!--          </nav>-->
        <!--        </div>-->
      </header>

      <main class="px-3">
        <h2>Welcome</h2>
        <a class="btn btn-primary fw-bold border-white bg-white text-black" href="init">Initialize Data</a>
        <p>Spring Security Thymeleaf tutorial</p>
        <div sec:authorize="hasRole('USER')">Text visible to user.</div>
        <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
        <div sec:authorize="isAuthenticated()">
          Text visible only to authenticated users.
          Authenticated username:
          <div sec:authentication="name"></div>
          Authenticated user roles:
          <div sec:authentication="principal.authorities"></div>
        </div>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

        <h1 th:inline="text">Hello <span sec:authentication="name" th:remove="tag">thymeleaf</span>!</h1>
        <form method="post" th:action="@{/logout}">
          <input class="btn btn-primary fw-bold border-white bg-white text-black" type="submit" value="Sign Out"/>
        </form>
      </main>

      <footer class="mt-auto text-white-50">
        <p>Cover template for <a class="text-white" href="https://getbootstrap.com/">Bootstrap</a>, by <a
              class="text-white" href="https://twitter.com/mdo">@mdo</a>.</p>
      </footer>
    </div>
    <script async defer th:src="@{/res/js/ThreeJS/main.js}" type="module"></script>
  </body>
</html>