<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="#563d7c" name="theme-color"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" th:fragment="navbar">
      <a class="navbar-brand" th:href="@{/index}"><!--<img th:src="@{/images/home.png}" alt="Domů" width="40px"/>--></a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <!-- TODO: odkazy na stranky v navigacnim menu -->
            <a class="nav-link" th:href="@{/index}">Domů<span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/projection/list}">Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/movie/list}">Filmy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/review/list}">Recenze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/reservation/list}">Rezervace</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto d-flex justify-content-end">
          <li class="nav-item">
            <!-- TODO: odkazy na stranky v navigacnim menu -->
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/registration}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()">User</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}">
              <input class="btn nav-link" type="submit" value="Logout"/>
            </form>
          </li>
          <li class="nav-item" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link" th:href="@{/admin/role/list}">Admin tool</a>
          </li>

          <!--			<div sec:authorize="hasRole('USER')">Text visible to user.</div>-->
          <!--			<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>-->
          <!--			<div sec:authorize="isAuthenticated()">-->
          <!--				Text visible only to authenticated users.-->
          <!--			</div>-->
          <!--			Authenticated username:-->
          <!--			<div sec:authentication="name"></div>-->
          <!--			Authenticated user roles:-->
          <!--			<div sec:authentication="principal.authorities"></div>-->

        </ul>
      </div>
    </nav>

  </body>
</html>
