<!DOCTYPE html>

<!--TODO fix xml namespaces: https://www.w3schools.com/xml/xml_namespaces.asp-->
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Webpage for Kino Vesmír" name="description">
    <meta content="Tomas Bares" name="author">
    <title>Kino Vesmír - Náchod</title>
    <meta content="#7952b3" name="theme-color"> <!--TODO change-->

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <link rel="icon" th:href="@{/res/images/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/res/css/main.css}" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
  </head>
  <body layout:fragment="body">

    <!-- NAVBAR -->
    <div th:replace="~{navbar :: navbar}">Navigation</div>
    <!--    <div th:replace="~{${view} :: content}">Content goes here!</div>-->
    <div class="container" layout:fragment="content"></div>
    <!--TODO pridat modularne footer-->

    <!-- Bootstrap CSS -->
    <script crossorigin="anonymous"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
