<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template}">
<head>
	<meta charset="UTF-8">
	<title>Roles</title>
</head>
<body>

<!--https://www.baeldung.com/thymeleaf-list-->
<span  class="container" layout:fragment="content">
	<div class="text-center m-auto">
<table class="table-bordered">
	<thead>
		<th>Id</th>
		<th>Username</th>
		<th th:each="role : ${roles}" th:text="${role.getRoleName()}">ROLE</th>
		<th>Sumbit</th>
	</tr>
	</thead>
	<tbody th:if="${!users.empty}">

	<tr th:each="user, itemStat : ${users}">
		<form class="form-signin" method="post" th:object="${roleForm}" th:action="@{/admin/role/upsert}">
			<td>
				<input hidden th:name="|userId|" th:value="${user.id}"/>
				<span th:text="${user.id}"></span>
			</td>
			<td>
				<span th:text="${user.username}"></span>
			</td>
			<td th:each="role, roleStat : ${roles}">
				<!--th:field="*{roleHelperList[__${roleStat.index}__].roleId}"-->
				<input th:name="|roleHelperList[${roleStat.index}].roleId|" th:value="${role.id}" type="hidden">
				<input th:name="|roleHelperList[${roleStat.index}].enabled|" th:checked="${hasRole}"
				       th:with="hasRole=${user.getRoles().contains(role)}" type="checkbox"/>
			</td>
			<td><input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Submit"/></td>
		</form>
	</tr>
	</tbody>
</table>
		</div>
</span>
</body>
</html>


